.row
  .col-xs-6
    %h1 About VRMachine

    %p.about VRMachine was started to help Gear VR enthusiasts find awesome Gear VR games and experiences.  Our primary goal is to support the fledgling VR community and the pioneering developers making awesome VR games and experiences. We're at the forefront of a new generation of games, and we're excited to be involved.  If you are a VR developer and would like to get in contact or you're a VR enthusiast wanting to talk, please email yangsunwoo@gmail.com

  .col-xs-6

    %img{ src: "https://s3.amazonaws.com/vrlist/misc/GearVR_desktop_buyNow_gearVR.png", class: 'img-responsive' }