.row
  .col-xs-6
    %h1 About VRMachine

    %p.about VRMachine was started to help Gear VR enthusiasts to find awesome Gear VR games and experiences.  Our primary goal is to support the fledgling VR community and the developers who make awesome games. We're at the absolute forefront of a new generation of games, and we're excited to be involved.

  .col-xs-6

    %img{ src: "https://s3.amazonaws.com/vrlist/misc/GearVR_desktop_buyNow_gearVR.png", class: 'img-responsive' }