- @games.each do |game|
  .col-xs-12.col-md-6.single-game
    = link_to (image_tag game.thumbnail.url, class: 'img-responsive main-image'), game
    / %h2.game-name= link_to game.name, game

= will_paginate @games, renderer: BootstrapPagination::Rails