/*navigation*/

.site-nav {
  background: image-url("stardust.png") center repeat;
  height: 60px;
  margin-bottom: 20px;
}

.logo {
  font-family: 'Permanent Marker', cursive;
  color: #F8FBFF;
  padding-left: 50px;
  font-size: 40px;
}

.logo:hover {
  text-decoration: none;
  color: #F8FBFF;
}

/*general*/

.body {
  background: image-url("stardust.png") center no-repeat;
}

.container.container-full {
  margin: 0 auto;
  width: 100%;
  padding: 0;
  overflow-x: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.no-padding {
  padding: 0 !important;
}

.center-text {
  text-align: center;
}

.main-image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2.game-name {
  width: 85%;
  position: absolute; 
  top: 150px; 
  left: 30px;
  color: white;
  text-align: center;
  font-family: 'Quattrocento', serif;
  font-weight: 700;
}

h2.game-name a {
  color: white;
}

h2.game-name a:hover {
  text-decoration: none;
}

h2.show-page {
  width: 100%;
  margin: 0 auto;
  background: none;
  text-align: center;
}

.single-game {
  margin-bottom: 30px;
}

/*show page*/

.show-site-nav {
  background: image-url("stardust.png") center repeat;
  height: 60px;
}

h2.game-title {
  font-family: 'Quattrocento', serif;
  font-weight: 700;
  font-size: 50px;
}

.game-details {
  padding: 0px 25% 5% 25%;
}

/*checkbox css*/

.checkbox-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
}

.checkbox-wrapper {
  padding: 1px 0px 1px 8px;
  margin-bottom: 1px;
  cursor: pointer;
}

.checkbox-wrapper:hover {
  background-color: #676767;
  color: #F8FBFF;
}

.checkbox-label {
  margin-left: 15px;
  cursor: pointer;
}

.checked {
  background: image-url("stardust.png") center no-repeat;
  /*background-color: #19609b;*/
  color: #F8FBFF;
}

.checked:hover {
  background-color: #19609b;
  color: #F8FBFF;
}

input[type="checkbox"] {
  display:none;
  cursor: pointer;
  background-color: #4786A0;
}

input[type="checkbox"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  background: image-url("checkbox.png") center no-repeat;
  background-size: contain;
  position: relative;
  left: -10px;
  top: 5px;
}

.checkbox-wrapper:hover label span {
  background: image-url("checkbox-hover.png") center no-repeat;
  background-size: contain;
}

input[type="checkbox"]:checked + label span {
  display:inline-block;
  width:19px;
  height:19px;
  background: image-url("checked-checkbox.png") left top no-repeat;
  background-size: contain;
  position: relative;
  left: -10px;
  top: 5px;
}