.main-image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2.game-name { 
   position: absolute; 
   top: 150px; 
   left: 30px;
   width: 85%;
   background-color: rgba(0, 0, 15, .5);
   color: white;
}

h2.show-page {
  width: 100%;
  margin: 0 auto;
  background: none;
  text-align: center;
}

