.container.container-full {
  margin: 0 auto;
  width: 100%;
  padding: 0;
  overflow-x: hidden;
}

.no-padding {
  padding: 0;
}

.center-text {
  text-align: center;
}

.main-image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2.game-name {
  width: 85%;
   position: absolute; 
   top: 150px; 
   left: 30px;
   color: white;
   text-align: center;
}

h2.game-name a {
  color: white;
}

h2.game-name a:hover {
  text-decoration: none;
}

h2.show-page {
  width: 100%;
  margin: 0 auto;
  background: none;
  text-align: center;
}

/*show page*/

h2.game-title {
  font-family: 'Quattrocento', serif;
  font-weight: 700;
  font-size: 50px;
}

.game-details {
  padding: 0px 25% 5% 25%;
}
